.Login_form {
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(51, 6, 249);
    width: 350px;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
}

.Login_form p {
    color: red;
}

@media screen and (max-width: 600px) {
    .Login_form {
        justify-content: center;
        align-items: center;
        border: none;
        width: 350px;
        margin: auto;
        padding: 40px;
        border-radius: 20px;
    }
}