.SignUp {
    display: block;
    color: blue;
    /* justify-content: center; */
    /* align-items: center; */
}

form {
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(77, 73, 73);
    width: 350px;
    margin: auto;
    /* align-items: center; */
    /* justify-content: center; */
}

input {
    margin-top: 10px;
}

label {
    margin-top: 20px;
}