* {
    margin: 0;
    padding: 0;
}
.app_name {
    text-align: center;
    color: rgb(10, 72, 186);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: xx-large;
}

.app_name a{
    text-decoration: none;
    color: rgb(10, 72, 186);
}

input {
    width: 95%;
    margin: 10px 0 20px 0;
    height: 30px;
    border: 2px solid blue;
    border-radius: 6px;
    padding: 6px;
}

.button button {
    background-color: blue;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: #fff;
}

textarea {
    width: 90%;
    height: 100px;
    border-radius: 7px;
    padding: 15px;
    font-size: 18px;
    border: 2px solid blue;
}

@media screen and (max-width: 600px) {

    input {
        width: 93.8%;
        height: 30px;
    }
}